<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net452" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net452" />
  <package id="MySql.Data" version="6.10.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net45" requireReinstallation="true" />
  <package id="MySQLConnection" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net452" />
  <package id="NLog" version="4.7.0" targetFramework="net452" />
  <package id="SQLite" version="3.13.0" targetFramework="net452" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.119.0" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.119.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.119.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net452" />
</packages>